@use '../core/variables' as vars;

footer {
    background-color: black;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    padding: 10px;
}
footer a {
    color: white;
}

@media screen and (max-width: 700px) {
    footer {
    gap: 0;
    }

.p-footer {
    font-size: 10px;
    }
}