footer {
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
footer a {
    color: white;
}

@media screen and (min-width: 750px) {
    footer {
        gap: 300px;
    .p-footer {
        font-size: 15px;
    }
}
}