.index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 1);
    background-size: cover;
}

.index-page .index-header {
        background-image: url("../images/all-in-bed.jpg");
}
.dog-page .index-header{
        background-image: url("../images/sleeping-dog.jpg");
    }

a {
    text-decoration: none;
}

.title {
    background-color: rgb(213, 212, 209, 0.5);
    text-align: center;
    height: min-content;
    border-radius: 10px;
    font-family: "Permanent Marker";
    color: rgb(27, 27, 27);
    font-size: clamp(24px, 5vw, 80px);
    
}
.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 20px;
    top: 50%;                           
    transform: translateY(-50%);      
}

.list {
    background-color:  rgb(213, 212, 209, 0.5);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px; 
}
.list a {
    color: black;
    text-decoration: none;
}
.list a:visited {
    color: black;
}

.burger-menu {
    width: 50px;
    height: auto;
    background-color: rgb(213, 212, 209, 0.5);
    border-radius: 10px;
    cursor: pointer;
    margin-top: -120px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease; 
}





@media screen and (max-width: 700px) {
    .title {
    font-size: 40px;
}
header {
    background-size: cover;
    background-repeat: no-repeat;

}

}