<header class="index-header">
    <nav class="menu-nav">
        <img class="burger-menu" src="images/burguer.svg">
        <ul class="list hidden">
            <li class="go-to"><a href="dog-page.html" target="_blank">Perros</a></li>
            <li class="go-to"><a href="cat-page.html" target="_blank">Gatos</a></li>
            <li class="go-to"><a href="vete-page.html" target="_blank">Veterinarios</a></li>
            <li class="go-to"><a href="contact-page.html" target="_blank">Contacto</a></li>
        </ul>
    </nav>
    <h1 class="title">SOMOS FAMILIA</h1>
</header>
